APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change_me
DEFAULT_URI=https://experiences.bouchard-mehdi.fr
DATABASE_URL="postgresql://myexperiences:myexperiences@database:5432/myexperiences?serverVersion=16&charset=utf8"
